---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>actividad 7</title>
	</head>
	<body>
		<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptas minus iste nemo quibusdam quam hic provident quae, asperiores recusandae mollitia esse odio nisi, porro ducimus, delectus culpa praesentium obcaecati!</h1>
	</body>
</html>
